table {
    width: 725px;
    height: 250px;
}


.auto-style7 {
    width: 258px;
}

td {
    height: 30px;
    width: 124px;
}

body {
    width: 604px; 
    height: 492px
}

.lblClientAddedMessage {
    color: whitesmoke;
}

button {
    float: left;
}