.auto-style1 {
    width: 100%;
}

.auto-style2 {
    height: 30px;
}

.auto-style3 {
    height: 31px;
}

.auto-style4 {
    width: 43%;
}

.auto-style5 {
    width: 106px;
    height: 30px;
}

.auto-style6 {
    height: 30px;
    width: 118px;
}

.auto-style7 {
    height: 30px;
    width: 157px;
}

.auto-style8 {
    height: 30px;
    width: 191px;
}
