.Listbox {
    Height: 150px;
    Width: 544px;
}
.tbxAdditionalComments {
    Height: 157px;
    Width: 532px;
}
.btnClientID {
    Width: 111px;
}
.auto-style4 {
    width: 100%;
}
.auto-style5 {
    height: 23px;
}
.auto-style6 {
    height: 24px;
}
.auto-style7 {
    height: 78px;
}