/* Styles for the elements */
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    border: 3px;
    width: 550px;
    margin: 0 auto;
    color: #f4f5f6;
    background-color: #254558;
}
header {
    border-bottom: 2px solid #2b2b3a;
    margin-top: 25px;
    margin-bottom: 25px;
}
DropDownList {
    Height: 24px;
    Width: 164px;
    float: right;
}
header h1 {
    font-size: 140%;
    color: #1ed2fa;
    margin: .5em 0 .25em;
}
header h2 {
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #eafc40;
    margin-left: 1em;
}
section {
    padding: 10px;
}
a {
    color: orange;
}
h2
{
    font-size: 120%;
    margin: .5em 0;
}
footer {
    border-top: 2px solid #1ed2fa;
}
footer p {
    font-size: 80%;
    text-align: right;
    margin-bottom: 0;
}

.siteImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



RequiredFieldValidator {
    color: red;
}